<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BundleVersion</key>
	<string>224</string>
	<key>CFBundleShortVersionString</key>
	<string>1.8.2</string>
	<key>CFBundleVersion</key>
	<string>1.8.2</string>
	<key>ProjectName</key>
	<string>Mamp Widget</string>
	<key>SourceVersion</key>
	<string>1.8.2</string>
</dict>
</plist>
